<ion-view title="Barcode Scanner">
  <ion-content>
    <br/>
    <div style="text-align: center; width: 100%; color:#F7931E; font-size: 150px;">
      <i class="fa fa-barcode"></i>
    </div>
    <p style="text-align: center">
      Dados lidos (JSON):
      <br/>
      {{ valor }}
    </div>
  </ion-content>
</ion-view>
