<ion-view title="Geolocalização">
  <ion-content>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
  </ion-content>
  <ion-footer-bar class="bar-dark">
    <a class="button button-icon icon ion-navigate" ng-click="centerOnMe()">
      Meu local
    </a>
  </ion-footer-bar>
</ion-view>
