<ion-view title="Gráficos">
  <ion-content>
      <div class="card">
          <div class="item item-divider">
              Performance da Aplicação
          </div>
          <div class="item item-text-wrap">
              <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
          </div>
      </div>
      <div class="card">
          <div class="item item-divider">
              Usuários Mensais
          </div>
          <div class="item item-text-wrap">
              <canvas id="bar" class="chart chart-bar" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
          </div>
      </div>
  </ion-content>
</ion-view>
