<ion-view title="FC Mobile Demo">
  <ion-content>
    <div style="text-align: center;">
      <img src="img/fc.png" />
      <br />
      <a href="#/search">Sobre</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#/settings">Instruções</a>
      <hr style="border: 1px solid #ededed; width: 80%;" />
    </div>

    <div class="row">
      <a class="menuzao-item" ui-sref="mapas">
        <i class="fa fa-map-marker fa-3x"></i>
        <br/><br/>
        Mapas & geo
      </a>
      <a class="menuzao-item" ui-sref="tabs.infinite">
        <i class="fa fa-refresh fa-3x"></i>
        <br/><br/>
        Lista infinita
      </a>
    </div>
    <div class="row">
      <a class="menuzao-item" ui-sref="barcode">
        <i class="fa fa-barcode fa-3x"></i>
        <br/><br/>
        Barcode
      </a>
      <a class="menuzao-item" ui-sref="barcode">
        <i class="fa fa-bell-o fa-3x"></i>
        <br/><br/>
        Push notification
      </a>
    </div>
    <div class="row">
      <a class="menuzao-item" ui-sref="tabs.graficos">
        <i class="fa fa-bar-chart fa-3x"></i>
        <br/><br/>
        Gráficos
      </a>
      <a class="menuzao-item">
        <i class="fa fa-external-link fa-3x"></i>
        <br/><br/>
        WebView
      </a>
    </div>
  </ion-content>
</ion-view>
