<ion-view title="Lista Infinita">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="item in items">
        <h2>{{item.full_name}}</h3>
        <i>{{item.html_url}}</i>
        <img ng-src="{{item.avatar_url}}">
        <p>
          {{item.description}}
        </p>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll distance="1%" icon="ion-loading-c" ng-if="moreDataCanBeLoaded()" on-infinite="loadMore()"></ion-infinite-scroll>
  </ion-content>
</ion-view>
