<ion-view title="Push Notification">
  <ion-content>
    <br/>
    <div style="text-align: center; width: 100%; color:#F7931E; font-size: 150px;">
      <i class="fa fa-bell"></i>
    </div>
    <p style="text-align: center">
      Digite uma mensagem:
      <br />
      <input type="text" ng-model="mensagem" />
      <br />
      <button type="button" class="button button-calm" ng-click="push()">Testar!</button>
    </p>
  </ion-content>
</ion-view>
