<ion-view title="Sobre">
  <ion-content style="padding: 20px;">
    <h1>Sobre o app</h1>
    <p>
      <strong>FC Mobile Demo</strong><br/>
      Um aplicativo de demonstração da FCamara.
    </p>
    <p>

      Versão: 0.0.1<br/>
      Id: com.ionicframework.fcmobiledemo896908<br/>
    </p>
    <p></p>
      <strong>Permissões necessárias</strong>
    <ul style="list-style-type: disc; padding-left: 15px;">
      <li>
        Notificações locais
      </li>
      <li>
        Geolocalização
      </li>
    </ul>
  </ion-content>
</ion-view>
