      <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Home" icon="ion-home" ui-sref="tabs.home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Lista" icon="ion-person-stalker" ui-sref="tabs.infinite">
          <ion-nav-view name="contatos-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Gráficos" icon="ion-ios7-pie" ui-sref="tabs.graficos">
          <ion-nav-view name="graficos-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
