<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline' https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https:">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/angular-chart.js/dist/angular-chart.min.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/lodash/lodash.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <script src="lib/angular-google-maps/dist/angular-google-maps.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>

    <!-- your app's js -->
    <script src="lib/Chart.js/Chart.min.js"></script>
    <script src="lib/angular-chart.js/dist/angular-chart.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>

    <!-- cordova js -->
    <script src="cordova.js"></script>
  </head>


  <body ng-app="ionicApp">


    <ion-side-menus>

        <ion-side-menu-content ng-controller="NavCtrl">
          <ion-nav-bar class="bar-positive">
            <ion-nav-back-button class="button-icon ion-arrow-left-c">
            </ion-nav-back-button>
          </ion-nav-bar>
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()">
            </button>
          </ion-nav-buttons>

          <ion-nav-buttons side="right">
              <button class="button button-icon button-clear ion-person" ng-click="showRightMenu()">
              </button>
          </ion-nav-buttons>
          <ion-nav-view animation="slide-left-right"></ion-nav-view>
        </ion-side-menu-content>

        <ion-side-menu side="left">
          <ion-header-bar class="bar bar-header bar-assertive">
            <h1 class="title">Todas as demos</h1>
          </ion-header-bar>
          <ion-content has-header="true">
            <ul class="list">
              <li>
                <a class="item" menu-close nav-clear href="#/tab/home"><i class="fa fa-home"></i>&nbsp; Home + tabs</a>
              </li>
              <li>
                <a class="item" menu-close ui-sref="mapas"><i class="fa fa-location-arrow "></i>&nbsp; Mapa e geolocalização</a>
              </li>
              <li>
                <a class="item" menu-close  ui-sref="tabs.infinite"><i class="fa fa-refresh"></i>&nbsp; Lista infinita</a>
              </li>
              <li>
                <a class="item" menu-close ui-sref="barcode"><i class="fa fa-barcode"></i>&nbsp; Barcode scanner</a>
              </li>
              <li>
                <a class="item" menu-close ui-sref="push"><i class="fa fa-bell-o"></i>&nbsp; Push notification</a>
              </li>
              <li>
                <a class="item" menu-close ui-sref="tabs.graficos"><i class="fa fa-bar-chart"></i>&nbsp; Gráficos</a>
              </li>
              <li>
                <a class="item" menu-close href="#/tab/facts2"><i class="fa fa-external-link"></i>&nbsp; WebView URL externa</a>
              </li>
            </ul>
          </ion-content>
        </ion-side-menu>

        <ion-side-menu side="right">
          <ion-header-bar class="bar bar-header bar-dark">
            <h1 class="title">Minha conta</h1>
          </ion-header-bar>
          <ion-content>
            <ul class="list">
              <li>
                <a class="item" menu-close nav-clear href="#/">Perfil</a>
              </li>
            <li>
              <a class="item" menu-close nav-clear href="#/settings">Instruções</a>
            </li>
                <li>
                  <a class="item" menu-close nav-clear href="#/search">Sobre</a>
                </li>
            </ul>
          </ion-content>
        </ion-side-menu>

      </ion-side-menus>

  </body>

</html>
