/* Empty. Add your own CSS if you like */
#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.menuzao-item {
  border: 1px solid #dedede;
  border-radius: 6px;
  padding: 30px;
  margin: 20px;
  text-align: center;
  /*min-width: 50%;*/
  max-width: 50%;
  width: 50%;
  flex: 50%;
  -moz-flex: 50%;
  display: block;
  text-decoration: none;
  color: #666;
  background-color: #f0f0f0;
}

.menuzao-item .fa {
    color: #F7931E;
}

.menuzao-item {
}

.angular-google-map-container {
  height: 400px;
}
